name: deploy Project

on:
 pull_requests:
   branches: -main


   jobs:
     test:
        runs-on: ubuntu-latest
        container:
          image: node:20
          steps:
            - uses: action/checkout@v3
              with:
              node-version: 20
            - run: npm ci
            - run: npm run build
